<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/main.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
<!--[if lt IE 8]>

<![endif]-->

<!-- Add your site or application content here -->
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" id ="name" href="admin.html">Movieflix</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="divid">
                <ul class="nav navbar-nav">
                    <li class=""><a href="admin.html">Home </a></li>
                    <li><a href="#">Type</a></li>
                    <li><a href="#">Year</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genre <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Comedy</a></li>
                            <li><a href="#">Adventure</a></li>
                            <li><a href="#">Romance</a></li>
                            <li><a href="#">Sci-Fi</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">IMDB ratings <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Top Rated Movies</a></li>
                            <li><a href="#">Top Rated TV Series </a></li>
                            <li><a href="#">IMDB Ratings </a></li>
                            <li><a href="#">IMDB Votes </a></li>
                        </ul>
                    </li>
                    <li><a href="#"> Create new title</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Manage Account</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Help</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="login.html">SignOut</a></li>

                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>
<main>
    <div class="container">
        <div class="col col-md-2 col-lg-2"></div>
        <div class="col col-md-8 col-lg-4">
            <h3 class="title">Movie Details</h3>
        <form class="movieform">
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Title</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Year</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input2">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Rated</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input3">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Released</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input4">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Runtime</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input5">
                </div>
            </div>

            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Genre</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input6">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Director</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input7">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Writer</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input8">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Actors</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input9">
                </div>
            </div>
            <div class="form-group row">
                <label for="exampleTextarea">Plot</label>
                <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Language</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input11">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Country</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input12">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Awards</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input13">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Poster</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input14">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Metascore</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input15">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">imdbRatings</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input16">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">imdbVotes</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input17">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">imdbid</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input18">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">type</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Artisanal kale" id="example-text-input19">
                </div>
            </div>

            <button type="submit" class="btn btn-success">Add new movie</button>
            <button type="submit" class="btn btn-primary">Reset</button>
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        </div>
        <div class="col col-md-4 col-lg-4">
            <div class="row" id="add">
            <div class="col col-md-2">
            </div>

                <div class="col col-md-2" id="del">

                    </div>
            </div>

        </div>
    </div>

</main>
<footer> </footer>

<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
<script src="js/plugins.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="js/main.js"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-XXXXX-X','auto');ga('send','pageview');
</script>
<footer>
    <div class="container">

        <hr>
        <div class="text-center center-block">

            <br />
            <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
            <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
            <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
            <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        </div>
        <hr>
    </div></footer>
</body>
</html>
